<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PE26100Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <userSettings>
  <PE26100Control.Properties.Settings>
   <setting name="InputResEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="InputResValue_mOhms" serializeAs="String">
    <value>4.00</value>
   </setting>
   <setting name="OutputResEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OutputResValue_mOhms" serializeAs="String">
    <value>4.00</value>
   </setting>
  </PE26100Control.Properties.Settings>
 </userSettings>
</configuration>