<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PE24103i2cControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ARC1C0608Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PE24103i2cControl.Properties.Settings>
            <setting name="Buck1ExternalResEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Buck1ExternalResValue_mOhms" serializeAs="String">
                <value>10.0</value>
            </setting>
            <setting name="Buck2ExternalResEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Buck2ExternalResValue_mOhms" serializeAs="String">
                <value>10.0</value>
            </setting>
        </PE24103i2cControl.Properties.Settings>
    </userSettings>
</configuration>