################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apps/PluginFramework/bin
/Apps/AdapterAccess/bin
/Apps/AdapterAccess/obj
/Apps/DeviceAccess/bin
/Apps/DeviceAccess/obj
/Apps/HardwareInterfaces/bin
/Apps/HardwareInterfaces/obj
/Apps/muRata/bin
/Apps/muRata/obj
/Apps/PluginFramework/obj
/Apps/Plugins/AdapterControl/bin
/Apps/Plugins/AdapterControl/obj
/Apps/Plugins/ARC1C0608Control/bin
/Apps/Plugins/ARC1C0608Control/obj
/Apps/Plugins/ARCxCCxxControl/bin
/Apps/Plugins/ARCxCCxxControl/obj
/Apps/Plugins/DocumentViewerControl/bin
/Apps/Plugins/DocumentViewerControl/obj
/Apps/Plugins/HelpViewerControl/bin
/Apps/Plugins/HelpViewerControl/obj
/Apps/Plugins/MPQ7920Control/bin
/Apps/Plugins/MPQ7920Control/obj
/Apps/Plugins/MPQChartControl/bin
/Apps/Plugins/MPQChartControl/obj
/Apps/Plugins/MPQControl/bin
/Apps/Plugins/MPQControl/obj
/Apps/Plugins/PE24103Control/bin
/Apps/Plugins/PE24103Control/obj
/Apps/Plugins/PE24106Control/bin
/Apps/Plugins/PE24106Control/obj
/Apps/Plugins/RegisterControl/bin
/Apps/Plugins/RegisterControl/obj
/Apps/Plugins/PE24103i2cControl/bin
/Apps/Plugins/PE24103i2cControl/obj
*.suo
