<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARC1C0608Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ARC1C0608Control.Properties.Settings>
            <setting name="LEDEN1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LEDEN12" serializeAs="String">
                <value>True</value>
            </setting>
        </ARC1C0608Control.Properties.Settings>
    </userSettings>
</configuration>