<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pSemi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pSemi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
	    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <pSemi.Properties.Settings>
            <setting name="I2cBitRate" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="PollingIntervalIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Persist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HU" serializeAs="String">
                <value />
            </setting>
            <setting name="HP" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusOnlyRead" serializeAs="String">
                <value>False</value>
            </setting>
        </pSemi.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <pSemi.Properties.Settings>
            <setting name="UpdateUrl" serializeAs="String">
                <value>foef128f-415f-461b-88bb-eb3714cfe6fb</value>
            </setting>
            <setting name="UpdateUrlStaging" serializeAs="String">
                <value>fo8d20b7-1797-4fee-b4e6-12414e81c0bd</value>
            </setting>
            <setting name="DownloadUrl" serializeAs="String">
                <value>fo65999c-4742-468d-9945-19e02c4eb807</value>
            </setting>
            <setting name="DownloadUrlStaging" serializeAs="String">
                <value>fo077f35-418e-44cf-9d35-28d510d71db2</value>
            </setting>
        </pSemi.Properties.Settings>
    </applicationSettings>
 <log4net>  
   <appender name="TestAppender" type="log4net.Appender.RollingFileAppender">  
    <file value="C:\LogsFile\MurataAppLogs.log" />  
    <encoding value="utf-8" />  
    <appendToFile value="true" />  
    <rollingStyle value="Date" />  
    <layout type="log4net.Layout.PatternLayout">  
     <conversionPattern value="%date- %message%n" />  
    </layout>  
   </appender>  
   <root>  
    <level value="All" />  
    <!-- If the following line is not included the log file will not be created even if log4net is configured with this file. -->  
    <appender-ref ref="TestAppender" />  
   </root>  
  </log4net> 
</configuration>